<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>. 温梓茵</title>
  <style>
    .app_loading_img{
        width: 267px;
        height: 200px;
        position: absolute;
        top: 28%;
        left: 14%;
    }
  </style>
</head>
<body>
  <div id="mobile_app">
    <img class="app_loading_img" src="../public/images/loading3.gif" alt="">
  </div>
</body>
<script src="../public/mobile_dist/manifest.js"></script>
<script src="../public/mobile_dist/main.js"></script>
</html>