{
  "extends": "eslint-config-egg",
  "rules": {
    "no-confusing-arrow": "off",
    "no-unneeded-ternary": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
